<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon_io/site.webmanifest">

    <title><%=newsTitle %> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/public/styles/article.css">
    <script
  src="https://unpkg.com/contentful@7.0.5/dist/contentful.browser.min.js"
  charset="utf-8"
></script>
<script>
  var exports = {}; // quick fix because 'exports' is not defined in rich-text bundle below
</script>
<script
src="https://unpkg.com/@contentful/rich-text-html-renderer@12.0.0/dist/rich-text-html-renderer.es5.js"
charset="utf-8"
></script>
</head>
<body>
  <section class="header">
  <header>  
  <nav>
    <div class="nav-small-screen">
    <a href="/" class="logo"> <img src="/public/icons/sports2daylogo-transparent-cropped.png" alt=""></a>
    <div class="humburger">   
     <span></span>
     <span></span>   
     <span></span>   
    </div>
    </div>
    <div class="nav-big-screen">
    <a href="/" class="logo"> <img src="/public/icons/sports2daylogo-transparent.png" alt=""></a>
    <div class="links big-screen-links">
     <a href="#">Browse<i class="fa-solid fa-chevron-down"></i></a>  
     <a href="#">Qatar<i class="fa-solid fa-chevron-down"></i></a> 
     <a href="#">World Cup<i class="fa-solid fa-chevron-down"></i></a> 
     <a href="#">International<i class="fa-solid fa-chevron-down"></i></a> 
     <a href="#">Advertise</a> 
     <a href="#">Get in touch</a> 
     <!-- <a href="#">Login</a>  -->
    </div>
    <div class="social-media">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="twitter.com/thesports2day"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>  
    </div>

    <div class="small-screen-menu">
      <div class="small-screen-menu-header-container">
        <div class="small-screen-menu-header-wrapper">
        <adex.html" class="logo"><img src="/icons/sports2daylogo-transparent-cropped.png" alt=""></a>
        <span class="close-menu"><i class="fa-solid fa-xmark"></i></span>
      </div>
      </div>
      <div class="links small-screen-links">
        <a href="#">Browse</a>  
        <a href="#">Qatar</a> 
        <a href="#">World Cup</a> 
        <a href="#">International</a> 
        <a href="#">Advertise</a> 
        <a href="#">Get in touch</a> 
        <!-- <a href="#">Login</a>  -->
       </div>

       <div class="social-media-small-screens">
        <p>Let's get social</p>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>  

    </div>
  </nav>
</header>
</section>
<!-- ============================= -->


<main>
  <article class="all-content-container">
    <section class="article-header">
    <h1 class="main-news-title"> <%=newsTitle %>  </h1> 

        <div class="time-stamp">
        <span class="time">
        <i class="fa-solid fa-calendar-days"></i>  
        <span class="date"> <%=date %></span> 
        <!-- <span class="time">13:00</span> -->
      </span> 
        <span class="share-btns">
        <a class="share-to-Fb" href="http://www.facebook.com/share.php?u=qsl.netlify.app/news-articles/news-article.html"><i class="fa-brands fa-facebook"></i></a>
        <a class="share-to-Twitter" href="http://twitter.com/share?url=https://127.0.0.1:5500/news-articles/news-article.html" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
          <i class="fa-solid fa-link copylink"></i>
          <i class="fa-solid fa-share-nodes share-all"></i>
         </span> 
        </div>
    </div>
</section>
<article class="content-body">
    <% if(imgUrl != "no-image-available") {%>
    <img src="https://<%=imgUrl%>" alt=" <%=photoDescription%> " class="main-img">
      <%}%>
 <div id="rich-text-body" class="content-body"> </div>   
</article>
       
<!--TO DO-->
<!-- <section class="you-might-like">   
    <h3>You might also like</h3>
</section> -->
<!--TO DO-->
        <div class="time-stamp">
          <p class="share-post-txt" style="font-style:italic; color:#cd128b; font-weight:bold;">Share post</p>
        <span class="share-btns">
        <a class="share-to-Fb" href="http://www.facebook.com/share.php?u=qsl.netlify.app/news-articles/news-article.html"><i class="fa-brands fa-facebook"></i></a>
        <a class="share-to-Twitter" href="http://twitter.com/share?url=https://127.0.0.1:5500/news-articles/news-article.html" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
          <i class="fa-solid fa-link copylink"></i>
          <i class="fa-solid fa-share-nodes share-all"></i>
         </span> 
        </div>
  </article>
</main>

<footer>
    <div class="footer-wrapper">
      <h4 class="logo-footer">
        <a href="/" class="logo"> <img src="/public/icons/sports2daylogo-transparent-cropped.png" alt=""> </a>
      </h4>
    <div class="footer-links-wrapper">
    </div>
    <div class="footer-links-wrapper">
      <div>
      <h6>Explore</h6>
     <p></p><a href="#">Browse</a></p>
     <p><a href="#">World cup</a></p>
     <p><a href="#">International</a></p>
     <p><a href="#">Advertise with us</a></p>
    </div>
    </div>
    <div class="footer-links-wrapper">
      <h6>About Us</h6>
      <a href="#">Privacy Policy</a>
      <a href="#">cookies</a>
      <a href="#">Our Mission</a>
      <a href="#">Contact us</a>
    </div>
    <div class="footer-links-wrapper footer-links-social">
      <h6>Social</h6>
      <a href="fb://page/PAGEID"><i class="fa-brands fa-facebook"></i> Facebook</a>
      <a href="twitter.com/thesports2day"><i class="fa-brands fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
      <a href="#"><i class="fa-brands fa-youtube"></i> Youtube</a>
    </div>
    <div class="footer-links-wrappper">
      <div class="subscribe-newsletter">
      <p>Don't miss latest Sports Updates</p>  
      <input type="email" placeholder="Your email" required>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    </div>
    </div>
  <div class="copyright-container">  
  <p>Sports 2day is commited to delivering content everything, anything Sports</p>
  
  <p>&copy 2023 Sports 2day</p>
  </div>
  </footer>


  <script src="/public/scripts/article.js"></script>
  <script>
    const pageUrl = window.location;
    // this is the same as the endpoint of page url
    const contentEntryId = pageUrl.pathname.substring(1);
    // console.log(contentEntryId)

     async  function getRichText(){
  const client = await contentful.createClient({
    space: 'e267q19fd4xy',
    environment: 'master', // defaults to 'master' if not set
    accessToken: '4eFLDDjjLb4BZr_S9mrpPngIABB40pC9OFgkYiVFKzI',
  });
  // const testData = await client.getEntries({content_type:"testBodyTxt"})
  //   .then(response=>{return response.items})
  client
        .getEntry(contentEntryId)
        .then((entry) => {
          const rawRichTextField = entry.fields.mainContent;
          return documentToHtmlString(rawRichTextField);
        })
        .then((renderedHtml) => {
          document.getElementById('rich-text-body').innerHTML = renderedHtml;
        })
        .catch((error) => console.log(error));
  }
  getRichText();

  </script>
</body>